* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Playfair Display", serif;
    font-family: "Lato", sans-serif;
}

/* COMMON STYLE  */
.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* NAVBAR SECTION  */
header {
    background-color: #fceef1;
}
header .navbar {
    border-bottom: 1px solid #e55473;
}
header .logo {
    color: #e55473;
    font-weight: 600;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    padding: 15px 30px;
    font-size: 17px;
    font-weight: 600;
    color: #000000;
}
header .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .banner h1 {
    font-family: Playfair Display;
    font-size: 65px;
}
header .banner p {
    font-size: 18px;
    font-family: lato;
    padding: 10px 0;
}
header .banner button {
    font-size: 18px;
    font-family: lato;
    padding: 15px 30px;
    border: 0;
    background-color: #e55473;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 4px 0px #c3c3c3;
}
header .banner img {
    width: 600px;
    padding-top: 60px;
    padding-left: 60px;
}
