* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Playfair Display", serif;
    font-family: "Lato", sans-serif;
}

/* COMMON STYLE  */
.container {
    max-width: 1320px;
    margin: 0 auto;
    /* border: 1px solid black; */
}
.text-primary {
    color: #e55473;
}
.bg-primary {
    background-color: #fceef1;
}
.btn-primary {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    padding: 15px 30px;
    border: 0;
    background-color: #e55473;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 4px 0px #c3c3c3;
}

/* NAVBAR SECTION  */
header .navbar {
    box-shadow: rgb(250 212 221) 0px 2px 10px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
header nav ul {
    display: flex;
}
header nav ul li {
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    padding: 15px 30px;
    font-size: 17px;
    font-weight: 600;
    color: #000000;
}

/* BANNER SECTION  */
header .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .banner h1 {
    font-family: Playfair Display;
    font-size: 75px;
}
header .banner p {
    font-size: 18px;
    font-family: lato;
    padding: 10px 0;
}
header .banner img {
    width: 600px;
    padding-top: 90px;
    padding-left: 60px;
}

/* FEATURE SECTION */
.feature-section {
    padding: 70px 0;
    margin-bottom: 70px;
    text-align: center;
}
.feature-section .feature-text h2 {
    font-size: 35px;
    font-family: Playfair Display;
}
.feature-section .feature-text p {
    font-size: 18px;
    color: rgba(39, 39, 39, 0.6);
    font-family: "Lato", sans-serif;
    padding: 20px 0px 50px 0;
}
.feature-section .feature-box {
    height: 540px;
    width: 100%;
}
.feature-section .feature-img p {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 700;
    padding: 15px 0px;
}
.feature-section .feature-img {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    grid-template-rows: 260px auto 260px;
}
.feature-section .feature-box:nth-child(1) {
    height: 500px;
    background-color: #f2dee7;
    width: 100%;
    border-radius: 47% 47% 0% 0%;
}
.feature-section .feature-box:nth-child(2) {
    height: 500px;
    background-color: #d9eff1;
    width: 100%;
    border-radius: 47% 47% 0% 0%;
}
.feature-section .feature-box:nth-child(3) {
    height: 500px;
    background-color: #e3ebdb;
    width: 100%;
    border-radius: 47% 47% 0% 0%;
}
.feature-section .feature-box .feature-flower:nth-child(1) {
    height: 500px;
    width: 100%;
    padding: 35px 40px 0px 40px;
    display: flex;
    align-items: center;
}
.feature-section .feature-box .feature-flower:nth-child(2) {
    height: 500px;
    width: 100%;
    padding: 35px 40px 0px 40px;
    display: flex;
    align-items: center;
}
.feature-section .feature-box .feature-flower:nth-child(3) {
    height: 500px;
    width: 100%;
    padding: 35px 40px 0px 40px;
    display: flex;
    align-items: start;
}

/* SERVICE SECTION  */
.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.6);
    background-color: rgba(39, 39, 39, 0.05);
    margin: 160px 0;
}
.services p {
    padding-top: 10px;
}

/* OFFER SECTION  */
.offer-section {
    padding: 60px 0px;
}
.offer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.offer h1 {
    font-size: 36px;
    padding: 20px 0px;
}
